In this lab, you will be using the Sakila database of movie rentals. You have been using this database for a couple labs already, but if you need to get the data again, refer to the official installation link.

The database is structured as follows:

Lab | Making predictions with logistic regression
In this lab, you will be using the Sakila database of movie rentals.

In order to optimize our inventory, we would like to know which films will be rented. We are asked to create a model to predict it. So we use the information we have from May 2005 to create the model.

Instructions
Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features (X).
Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.
Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.
Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.
Create a logistic regression model to predict 'rented_in_may' from the cleaned data.
Evaluate the results.

In [168]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

In [169]:
import getpass  # To get the password without showing the input

In [170]:
password = getpass.getpass()

········

In [171]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [172]:
query1 = """ SELECT 
  f.film_id, 
  f.title, 
  f.rating, 
  c.name AS category, 
  l.name AS language, 
  f.rental_duration, 
  p.amount AS rental_rate,
  r.rental_date, 
  r.return_date, 
  DATEDIFF(r.return_date, r.rental_date) AS rental_duration_days
FROM 
  film f
  JOIN film_category fc ON f.film_id = fc.film_id
  JOIN category c ON fc.category_id = c.category_id
  JOIN language l ON f.language_id = l.language_id
  JOIN inventory i ON f.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  JOIN payment p ON r.rental_id = p.rental_id
WHERE 
  r.return_date IS NOT NULL;



"""
data = pd.read_sql(query1, engine)
data

,film_id,title,rating,category,language,rental_duration,rental_rate,rental_date,return_date,rental_duration_days
0,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-02 01:16:59,2005-08-03 02:41:59,1
1,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-18 04:26:54,2005-08-23 06:40:54,5
2,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-06-20 20:35:28,2005-06-26 01:01:28,6
3,19,AMADEUS HOLY,PG,Action,English,6,3.99,2005-07-09 05:01:58,2005-07-18 08:17:58,9
4,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-30 08:02:39,2005-08-06 12:02:39,7
...,...,...,...,...,...,...,...,...,...,...
15856,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-05-30 18:45:17,2005-06-05 22:47:17,6
15857,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-06-15 09:03:52,2005-06-21 07:53:52,6
15858,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-07-07 06:38:31,2005-07-08 10:44:31,1
15859,989,WORKING MICROCOSMOS,R,Travel,English,4,9.99,2005-07-30 00:12:41,2005-08-08 03:53:41,9
15860,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-08-23 02:06:01,2005-08-29 21:35:01,6

In [173]:
data.columns

Index(['film_id', 'title', 'rating', 'category', 'language', 'rental_duration',
       'rental_rate', 'rental_date', 'return_date', 'rental_duration_days'],
      dtype='object')

In [174]:
# Convert rental_date column to datetime format
data['rental_date'] = pd.to_datetime(data['rental_date'])

# Create rented_in_may column with boolean values
data['rented_in_may'] = (data['rental_date'].dt.month == 5) & (data['rental_date'].dt.year == 2005)

# Get list of unique film titles and rented_in_may boolean
film_rented_in_may = data[['title', 'rented_in_may']].drop_duplicates()

In [175]:
data

,film_id,title,rating,category,language,rental_duration,rental_rate,rental_date,return_date,rental_duration_days,rented_in_may
0,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-02 01:16:59,2005-08-03 02:41:59,1,False
1,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-18 04:26:54,2005-08-23 06:40:54,5,False
2,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-06-20 20:35:28,2005-06-26 01:01:28,6,False
3,19,AMADEUS HOLY,PG,Action,English,6,3.99,2005-07-09 05:01:58,2005-07-18 08:17:58,9,False
4,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-30 08:02:39,2005-08-06 12:02:39,7,False
...,...,...,...,...,...,...,...,...,...,...,...
15856,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-05-30 18:45:17,2005-06-05 22:47:17,6,True
15857,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-06-15 09:03:52,2005-06-21 07:53:52,6,False
15858,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-07-07 06:38:31,2005-07-08 10:44:31,1,False
15859,989,WORKING MICROCOSMOS,R,Travel,English,4,9.99,2005-07-30 00:12:41,2005-08-08 03:53:41,9,False
15860,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-08-23 02:06:01,2005-08-29 21:35:01,6,False

In [176]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [177]:

print(data.isna().sum())

film_id                 0
title                   0
rating                  0
category                0
language                0
rental_duration         0
rental_rate             0
rental_date             0
return_date             0
rental_duration_days    0
rented_in_may           0
dtype: int64

In [178]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               15861 non-null  int64
 1   title                 15861 non-null  object
 2   rating                15861 non-null  object
 3   category              15861 non-null  object
 4   language              15861 non-null  object
 5   rental_duration       15861 non-null  int64
 6   rental_rate           15861 non-null  float64
 7   rental_date           15861 non-null  datetime64[ns]
 8   return_date           15861 non-null  datetime64[ns]
 9   rental_duration_days  15861 non-null  int64
 10  rented_in_may         15861 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(1), int64(3), object(4)
memory usage: 1.2+ MB

In [179]:
from sklearn.preprocessing import MinMaxScaler

In [180]:
# drop the target variable
data2 = data.drop('rented_in_may', axis=1)

# encode categorical variables
data2 = pd.get_dummies(data2, columns=['rating', 'category', 'language'])

# scale numerical variables
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
num_cols = ['rental_duration', 'rental_rate', 'rental_duration_days']
data2[num_cols] = scaler.fit_transform(data2[num_cols])

In [181]:
data2

,film_id,title,rental_duration,rental_rate,rental_date,return_date,rental_duration_days,rating_G,rating_NC-17,rating_PG,...,category_Family,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,language_English
0,19,AMADEUS HOLY,0.758322,-1.367262,2005-08-02 01:16:59,2005-08-03 02:41:59,-1.541194,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,19,AMADEUS HOLY,0.758322,-1.367262,2005-08-18 04:26:54,2005-08-23 06:40:54,-0.009656,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,19,AMADEUS HOLY,0.758322,-1.367262,2005-06-20 20:35:28,2005-06-26 01:01:28,0.373229,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,19,AMADEUS HOLY,0.758322,-0.096242,2005-07-09 05:01:58,2005-07-18 08:17:58,1.521882,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,19,AMADEUS HOLY,0.758322,-0.943589,2005-07-30 08:02:39,2005-08-06 12:02:39,0.756113,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,989,WORKING MICROCOSMOS,-0.668626,1.174778,2005-05-30 18:45:17,2005-06-05 22:47:17,0.373229,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15857,989,WORKING MICROCOSMOS,-0.668626,1.174778,2005-06-15 09:03:52,2005-06-21 07:53:52,0.373229,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15858,989,WORKING MICROCOSMOS,-0.668626,0.327431,2005-07-07 06:38:31,2005-07-08 10:44:31,-1.541194,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15859,989,WORKING MICROCOSMOS,-0.668626,2.445798,2005-07-30 00:12:41,2005-08-08 03:53:41,1.521882,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15860,989,WORKING MICROCOSMOS,-0.668626,1.174778,2005-08-23 02:06:01,2005-08-29 21:35:01,0.373229,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [182]:
data2 = data2.drop(['film_id', 'title', 'rental_duration', 'rental_rate', 'rental_date', 'return_date', 'rental_duration_days'], axis=1)

In [183]:
data2

,rating_G,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Action,category_Animation,category_Children,category_Classics,category_Comedy,...,category_Family,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,language_English
0,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15857,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15858,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15859,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15860,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [184]:
data

,film_id,title,rating,category,language,rental_duration,rental_rate,rental_date,return_date,rental_duration_days,rented_in_may
0,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-02 01:16:59,2005-08-03 02:41:59,1,False
1,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-18 04:26:54,2005-08-23 06:40:54,5,False
2,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-06-20 20:35:28,2005-06-26 01:01:28,6,False
3,19,AMADEUS HOLY,PG,Action,English,6,3.99,2005-07-09 05:01:58,2005-07-18 08:17:58,9,False
4,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-30 08:02:39,2005-08-06 12:02:39,7,False
...,...,...,...,...,...,...,...,...,...,...,...
15856,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-05-30 18:45:17,2005-06-05 22:47:17,6,True
15857,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-06-15 09:03:52,2005-06-21 07:53:52,6,False
15858,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-07-07 06:38:31,2005-07-08 10:44:31,1,False
15859,989,WORKING MICROCOSMOS,R,Travel,English,4,9.99,2005-07-30 00:12:41,2005-08-08 03:53:41,9,False
15860,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-08-23 02:06:01,2005-08-29 21:35:01,6,False

In [185]:
#data['rental_month'] = data['rental_date'].dt.month
#data = data.drop(columns=['rental_date'])
#data = data.drop(columns=['return_date'])

In [186]:
data

,film_id,title,rating,category,language,rental_duration,rental_rate,rental_date,return_date,rental_duration_days,rented_in_may
0,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-02 01:16:59,2005-08-03 02:41:59,1,False
1,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-18 04:26:54,2005-08-23 06:40:54,5,False
2,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-06-20 20:35:28,2005-06-26 01:01:28,6,False
3,19,AMADEUS HOLY,PG,Action,English,6,3.99,2005-07-09 05:01:58,2005-07-18 08:17:58,9,False
4,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-30 08:02:39,2005-08-06 12:02:39,7,False
...,...,...,...,...,...,...,...,...,...,...,...
15856,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-05-30 18:45:17,2005-06-05 22:47:17,6,True
15857,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-06-15 09:03:52,2005-06-21 07:53:52,6,False
15858,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-07-07 06:38:31,2005-07-08 10:44:31,1,False
15859,989,WORKING MICROCOSMOS,R,Travel,English,4,9.99,2005-07-30 00:12:41,2005-08-08 03:53:41,9,False
15860,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-08-23 02:06:01,2005-08-29 21:35:01,6,False

In [187]:
data2

,rating_G,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Action,category_Animation,category_Children,category_Classics,category_Comedy,...,category_Family,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,language_English
0,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15857,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15858,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15859,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15860,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [188]:
data2.columns

Index(['rating_G', 'rating_NC-17', 'rating_PG', 'rating_PG-13', 'rating_R',
       'category_Action', 'category_Animation', 'category_Children',
       'category_Classics', 'category_Comedy', 'category_Documentary',
       'category_Drama', 'category_Family', 'category_Foreign',
       'category_Games', 'category_Horror', 'category_Music', 'category_New',
       'category_Sci-Fi', 'category_Sports', 'category_Travel',
       'language_English'],
      dtype='object')

In [189]:
data.columns

Index(['film_id', 'title', 'rating', 'category', 'language', 'rental_duration',
       'rental_rate', 'rental_date', 'return_date', 'rental_duration_days',
       'rented_in_may'],
      dtype='object')

In [190]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report


# Combine data2 with rented_in_may from data
data2['rented_in_may'] = data['rented_in_may']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data2.drop('rented_in_may', axis=1), data2['rented_in_may'], test_size=0.2, random_state=42)

# Fit logistic regression model to training data
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# Predict on testing data
y_pred = log_reg.predict(X_test)

# Evaluate model performance
confusion_mat = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Confusion Matrix:")
print(confusion_mat)
print("\nClassification Report:")
print(class_report)

Confusion Matrix:
[[2942    0]
 [ 231    0]]

Classification Report:
              precision    recall  f1-score   support

       False       0.93      1.00      0.96      2942
        True       0.00      0.00      0.00       231

    accuracy                           0.93      3173
   macro avg       0.46      0.50      0.48      3173
weighted avg       0.86      0.93      0.89      3173

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [191]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Use data2 as X and rented_in_may from data as Y
X = data2
Y = data['rented_in_may']

# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Train the logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

# Check for the coef_ attribute
print(logreg.coef_)

[[ 4.90086618e-02 -9.15863988e-03 -3.26830393e-02 -1.79844548e-03
  -5.33510701e-03 -1.68654016e-03 -1.23785951e-02 -2.39329378e-02
  -2.28256410e-02  4.17657270e-02  2.50694757e-02  3.87788452e-02
   3.87197990e-02 -4.77794521e-02  4.17001941e-04 -2.86060612e-02
   3.43632566e-03 -3.59441427e-02  4.77629972e-03 -2.08232177e-02
   4.10465437e-02  3.34300749e-05  1.13312004e+01]]

In [192]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# make predictions on the test data
y_pred = logreg.predict(X_test)

# calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# print evaluation metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

# generate confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion matrix:\n", cm)

Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1-score: 1.0
Confusion matrix:
 [[2942    0]
 [   0  231]]